<template>
    <div class="sq-card-shoes-info">
        <div class="photo"><img :src="photoPath" :alt="shoesName" /></div>
        <div class="title">상품 이름 : {{ shoesName }}</div>
        <div class="price">가격 : {{ shoesPrice }}원</div>
        <div class="read_more"><nuxt-link :to="'/vp/products/' + id">자세히 보기</nuxt-link></div>
    </div>
</template>

<script>
export default {
    props: {
        id: {
            type: Number,
            required: true
        },
        photoPath: {
            type: String,
            required: true
        },
        shoesName: {
            type: String,
            required: true
        },
        shoesPrice: {
            type: Number,
            required: true
        }
    }
}
</script>
