<template>
    <div>
        <div class="main_shoes"><img src="/images/main_shoes.png" alt="타이틀 화면"/></div>
        <div class="head_title">[ Women - Running - shoes ]</div>
        <section>
            <card-shoes-info
                v-for="(item, index) in shoes"
                v-bind:key="index"
                v-bind:id="item.id"
                v-bind:shoes-name="item.shoesName"
                v-bind:shoes-price="item.shoesPrice"
                v-bind:photo-path="item.photoName"
            />
        </section>
    </div>
</template>

<script>
export default {
    data() {
        return {
            shoes: [
                {
                    id: 1,
                    photoName: '/images/running_shoes_01.png',
                    shoesName: '러닝화_01',
                    shoesPrice: 30000
                },
                {
                    id: 2,
                    photoName: '/images/running_shoes_02.jpg',
                    shoesName: '러닝화_02',
                    shoesPrice: 30000
                },
                {
                    id: 3,
                    photoName: '/images/running_shoes_03.jpg',
                    shoesName: '러닝화_03',
                    shoesPrice: 30000
                },
                {
                    id: 4,
                    photoName: '/images/running_shoes_04.jpg',
                    shoesName: '러닝화_04',
                    shoesPrice: 30000
                },
                {
                    id: 5,
                    photoName: '/images/running_shoes_05.jpg',
                    shoesName: '러닝화_05',
                    shoesPrice: 30000
                },
                {
                    id: 6,
                    photoName: '/images/running_shoes_06.jpg',
                    shoesName: '러닝화_06',
                    shoesPrice: 30000
                },
                {
                    id: 7,
                    photoName: '/images/running_shoes_07.png',
                    shoesName: '러닝화_07',
                    shoesPrice: 30000
                },
                {
                    id: 8,
                    photoName: '/images/running_shoes_08.jpg',
                    shoesName: '러닝화_08',
                    shoesPrice: 30000
                },
                {
                    id: 9,
                    photoName: '/images/running_shoes_09.jpg',
                    shoesName: '러닝화_09',
                    shoesPrice: 30000
                },
                {
                    id: 10,
                    photoName: '/images/running_shoes_10.jpg',
                    shoesName: '러닝화_10',
                    shoesPrice: 30000
                }
            ]
        }
    }
}
</script>
